# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

.DS_Store

*.xcscheme
*.xcsettings
project.xcworkspace
xcuserdata
xcschememanagement.plist
/xcode/build
/xcode/Cinder-AvfImpl.xcodeproj/project.xcworkspace/
/xcode_ios/build
/xcode_ios/Cinder-AvfImpl.xcodeproj/project.xcworkspace/
/samples/MovieLoader/xcode/build/
/samples/MovieAdvanced/xcode/build/
/samples/MovieBasic/xcode/build/